## Ballot Measure Data
##### using pandas and random libaries to simulate ballot measure votes

In [1]:
#imports
import os
import pandas as pd
import random

In [2]:
file_path = os.path.join('.','Resources','votes.csv')

In [3]:
voting_data = pd.read_csv(file_path)

In [4]:
df = pd.DataFrame(voting_data)
df.head()

   Ballot ID     County                Candidate
0    1323913  Jefferson  Charles Casper Stockham
1    1005842  Jefferson  Charles Casper Stockham
2    1880345  Jefferson  Charles Casper Stockham
3    1600337  Jefferson  Charles Casper Stockham
4    1835994  Jefferson  Charles Casper Stockham

##### "Four day work week" ballot measure

In [5]:
four_day_workweek = []

for i in range(len(voting_data)):
    i = random.randint(0,1)
    four_day_workweek.append(i)
    
print(len(four_day_workweek))

369711

In [6]:
print(len(df))

369711

In [7]:
print(four_day_workweek[:10])

[0, 0, 0, 1, 1, 0, 1, 1, 0, 1]

In [8]:
# append list to votes in new varible
new_df = df
new_df["Four Day Work Week"] = four_day_workweek

In [9]:
new_df.head()

   Ballot ID     County                Candidate  Four Day Work Week
0    1323913  Jefferson  Charles Casper Stockham                   0
1    1005842  Jefferson  Charles Casper Stockham                   0
2    1880345  Jefferson  Charles Casper Stockham                   0
3    1600337  Jefferson  Charles Casper Stockham                   1
4    1835994  Jefferson  Charles Casper Stockham                   1

###### "Add HOA" ballot measure

In [10]:
hoa = []

for i in range(len(voting_data)):
    i = random.randint(0,1)
    hoa.append(i)
    
print(len(hoa))

369711

In [11]:
# append list to votes in new varible
new_df = df
new_df["Add HOA"] = hoa

In [12]:
new_df.head()

   Ballot ID     County                Candidate  Four Day Work Week  Add HOA
0    1323913  Jefferson  Charles Casper Stockham                   0        1
1    1005842  Jefferson  Charles Casper Stockham                   0        1
2    1880345  Jefferson  Charles Casper Stockham                   0        1
3    1600337  Jefferson  Charles Casper Stockham                   1        0
4    1835994  Jefferson  Charles Casper Stockham                   1        0

In [13]:
#output new voting data to a csv file
new_df.to_csv("./Resources/votes_with_ballot_measures.csv", index=False)

# Function Practice

In [14]:
# PRACTICE CELL

# adding random values to a list
votes = ['True', 'False','False', 'True']
new_list = []

# for i in range(len(votes)):
#     print(i)

# for i in range(len(votes)):
#     i = random.randint(0,1)
#     print(i)
    
for i in range(len(votes)):
    i = random.randint(0,1)
    new_list.append(i)
print(new_list)

[1, 0, 0, 0]

In [15]:
# PRACTICE CELL

voting_topics = []

pink_votes = ['True', 'False','False', 'True']
green_votes = ['False','True','False', 'True']


new_pink_votes = []

for i in range(len(pink_votes)):
#     print(pink_votes[i])
    color_vote = pink_votes
    new_pink_votes.append(pink_votes[i])

voting_topics.append(new_pink_votes)

In [16]:
print(new_pink_votes)
print(voting_topics)

['True', 'False', 'False', 'True']
[['True', 'False', 'False', 'True']]

In [17]:
# PRACTICE CELL

voting_topics = []


pink_votes = ['True', 'False','False', 'True']
green_votes = ['False','True','False', 'True']


def color(votes):
    
    color_name = ""
    color_votes = []

    for i in range(len(votes)):
    #     print(pink_votes[i])
        color_votes.append(votes[i])
    
    voting_topics.append(color_votes)

In [18]:
color(pink_votes)
color(green_votes)

print(voting_topics)

[['True', 'False', 'False', 'True'], ['False', 'True', 'False', 'True']]

## Working Through Scenario

In [19]:
file_path = os.path.join('.','Resources','votes_with_ballot_measures.csv')

In [20]:
ballot_voting_data = pd.read_csv(file_path)

In [21]:
# with open(file_path) as new_election_data:
#     reader = csv.reader(election_data)
#     column_names = next(reader)  # Reads the first line, which contains the header
#     data = {col: [] for col in column_names}
#     for row in reader:
#         for key, value in zip(column_names, row):
#             data[key].append(value)